.container {
    padding-left: 15%;
    padding-right: 15%;
}

.center_bar {
    padding-left: 15%;
    padding-right: 15%;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.lead {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.service-list li::before {
    content: "\25CF"; /* Unicode character for solid circle */
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
}

footer {
    color: white;
}

nav, footer {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

section {
    padding-top: 2em;
    padding-bottom: 0;
    margin-top: 0;
}

.icon-button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon-button:hover {
    transform: scale(1.1);
}

.icon-button a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button img {
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
}

.button-group {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 0.2em;
}

.publication-img {
    width: 150px;
    /*height: 180px;*/
}

.publication-links {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 15px;
}

.publication-links i{
    width: 30px;
    height: 30px;
    filter: grayscale(1) brightness(0);
    display: inline-block;
    vertical-align:baseline;
}

.publication-links a *{
    width: 24px;
    height: 24px;
    filter: grayscale(1) brightness(0);
    display: inline-block;
    vertical-align:center;
}

.publication-links a{
    margin-right: 10px;
}